<!DOCTYPE html>
<html>

<head>
    <title>SkyEsports Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d7bdf509b5.js" crossorigin="anonymous"></script>
</head>

<body class="position_center">
    <div id="home" class="background_content">
        <div class="logo_position">
            <img src="/static/download.png" alt="" id="logo">
        </div>
        <div id="acon" >
            <div class="scoreboard">
                Scoreboard
            </div>
            <div class="acon_position glassmorphisum">
                <div class="acon_11">
                    <a href="{{ url_for('tournaments') }}">Manage Tournaments</a>
                    <a href="{{ url_for('matches') }}">Manage Matches</a>
                    <a href="{{ url_for('teams') }}">Manage Teams</a>
                </div>
                <hr>
                <div class="acon_12">
                    <a href="{{ url_for('players') }}">Manage Players</a>
                    <a href="{{ url_for('match_stats') }}">Match Stats</a>
                    <a href="{{ url_for('overall_stats') }}">Overall Stats</a>
                </div>
            </div>
        </div>
    </div>
</body><br>

<footer class="position_center"><a href="https://ps8network.com/">
        <p>Developed by PS8 Network</p>
    </a></footer>

</html>