<!DOCTYPE html>
<html>

<head>
    <title>Overall Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body id="osbc">
    <h1 class="h1os">Overall Stats</h1>
    <div class="box1t" >
        <h2 id="ost">Teams</h2>
        <div id="boxost">
            <ul>

                {% for team in teams %}
                <li>{{ team.name }} - {{ team.status }}</li>
                {% endfor %}
        </div>
        </ul>
    </div>
    <div id="box2t">
        <h2 class="osps">Players</h2>
        <div class="boxosp" >
        <ul>
            {% for player in players %}
            <li>{{ player.name }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <a href="{{ url_for('index') }}" id="osbth">Back to Home</a>
</body>

</html>