<!DOCTYPE html>
<html>

<head>
    <title>Manage Teams</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="teams">
    <h1 class="h1">Teams</h1>
    <form action="{{ url_for('add_team') }}" method="post">
        <div id="teamnm">
            <label id="ltn" for="name">Team Name:</label>
            <input id="itns" type="text" id="name1" name="name"><br>
            <label id="lgu" for="logo">Logo URL:</label>
            <input id="ilus" type="text" id="logo" name="logo"><br>
            <label id="lmi" for="match_id">Match:</label>
            <select class="smis" id="match_id" name="match_id">
                {% for match in matches %}
                <option class="smis" value="{{ match.id }}">{{ match.name }}</option>
                {% endfor %}
            </select><br>
            <label id="ls" for="status">Status:</label>
            <select class="sss" id="status" name="status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select><br>
            <!-- <select id="match_id" name="match_id">
                {% for match in matches %}
                <option value="{{ match.id }}">{{ match.name }}</option>
                {% endfor %}
            </select><br> -->
            <input class="add" type="submit" value="Add Team">
        </div>
    </form>
    <div class="li">
        <ul>
            {% for team in teams %}
            <div id="matchdetails1">
                {{ team.name }} (Match: {{ team.match_id }}) ({{ team.status }})<br>
                <a href="{{ url_for('edit_team', id=team.id) }}" id="edit">Edit</a>
                <form action="{{ url_for('delete_team', team_id=team.id) }}" method="post"><input type="submit"
                       class="deleteteams" value="Delete">
                </form>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="backhometeams">
        <a href="{{ url_for('index') }}" style="color: white; text-decoration-line: none; ">Home</a>
    </div>
</body>
<footer><a href="https://ps8network.com/">
        <p class="nt">Developed by PS8 Network</p>
    </a></footer>

</html> 