<!DOCTYPE html>
<html>

<head>
    <title>Manage Tournaments</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/8d9491e66a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="tournaments background_content ">
    <h1 class="title_tour position_center">Tournaments</h1>
    <form action="{{ url_for('add_tournament') }}"  method="post" class="position_center">
        <div class="all glassmorphisum">
            <label for="name" class="labelt">Tournament Name:</label><br>
            <input type="text" class="labeltc input_style" id="name" name="name" required><br>
            <label for="date" class="labeldt">Date & Time:</label><br>
            <input type="text" class="labeldtc input_style" id="date" name="date" required><br>
            <label for="description" class="labeld">Description:</label><br>
            <input type="text" class="labeldc input_style" id="description" maxlength="100" name="description"
                required><br>
            <input type="submit" id="uptm" value="Add Tournament">
        </div>
    </form>

    <div id="ult " class="position_center">
        <div class="boxor  glassmorphisum custom-scrollbar">
            <div class="table position_center addition">
                <div>Tournament Name</div>
                <div>Date</div>
                <div>Description</div>
                <div>Action</div>
            </div>
            {% for tournament in tournaments %}
            <div class="table position_center">
                <div>
                    {{ tournament.name }}
                </div>
                <div>
                    ({{ tournament.date }})
                </div>
                <div>
                    {{ tournament.description }}
                </div>
                <div>
                    <form action="{{ url_for('delete_tournament', tournament_id=tournament.id) }}" method="post" style="display:inline;">
                        <input type="submit" class="valuebtn" value="Delete">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="backtohome  position_center">
        <a href="{{ url_for('index') }}" class="custom_button position_center">Back to Home</a>
    </div>
    <div class="backbutton">
        <a href="{{ url_for('index') }}" class="position_center"><i class="fa-solid fa-circle-chevron-left"></i></a>  
    </div>
</body>

</html>