<!DOCTYPE html>
<html>

<head>
    <title>Manage Tournaments</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="tournaments">
    <h1 class="h1">Tournaments</h1>
    <form action="{{ url_for('add_tournament') }}" id="fa" method="post">
        <div class="all">
            <label for="name" class="labelt">Tournament Name:</label>
            <input type="text" class="labeltc" id="name" name="name" required><br>
            <label for="date" class="labeldt">Date & Time:</label>
            <input type="text" class="labeldtc" id="date" name="date" required><br>
            <label for="description" class="labeld">Description:</label>
            <input type="text" class="labeldc" id="description" name="description" required><br>
            <input type="submit" id="uptm" value="Add Tournament">
        </div>
    </form>

    <ul id="ult">
        <div class="boxor">
            {% for tournament in tournaments %}
            <ul class="tourd">
                {{ tournament.name }} ({{ tournament.date }}) - {{ tournament.description }}

                <form action="{{ url_for('delete_tournament', tournament_id=tournament.id) }}" method="post"
                    style="display:inline;"><br>
                    <input type="submit" class="valuebtn" value="Delete">
                </form>
            </ul>
            {% endfor %}
        </div>
    </ul>

    <a href="{{ url_for('index') }}" class="btme">Back to Home</a>
</body>

</html>